<div align="left">
<h1> Burnout: </h1>
<p> Click here for <a href="http://www.gaa.ie/content/files/Information%20Sheet%20-%20Player%20Burnout%281%29.pdf">Gaa.ie</a> official documentation on burnout </p>


<hr width="100%">
<h4>Causes</h4>
<p>Over-training & injury, time constraints & organizational problems, social-interpersonal factors (problems with others), excessive stress and monotonous training that lacks variety (staleness) (Gould, Udry, Tuffey, & Loehr, 1996; Henschen, 1998). Personal factors can also induce burnout, examples of which include high expectations, a lack of enjoyment, perfectionism, poor coping strategies for stress and a lack of personal control in training (Gould et al.; Henschen; Shank, 1983; Smith).</p>

<h4>Symptoms/Effects</h4>
<p>Burnout is a state of physical, mental and emotional exhaustion. Symptoms include ''changing moods, apathy, depersonalization, anxiety, emotional isolation, exhaustion, decreased motivation, low self-esteem, performance decrements, and even substance abuse'' (Henschen, 1998).</p>

<h4>Prevention/Recovey</h4>
<p>All players would be advised to use BALANCE to prevent burnout. Due to the nature of burnout, recovery time can cause a player to miss an entire season, depending on the severity of the burnout. Recovery time unfortunately cannot be known beforehand or by symptoms alone. Some people respond rapidly, while in others the response is slow. The individual is resposible for their own recovery and rest and diet play a key role in the recovery.</p>
</div>
