
<!--  <head> 
    <script src="../../lib/chartjs/Chart.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head> -->

    <br>
    <canvas id="graph" width="600" height="400"></canvas>


  <script src="lib/chartjs/Chart.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <script>

    var trainings;

// need to get user's email get from script, then post it to get the user's trainings

/**
   $("#document").ready(funtion(){




   })
*/
$(document).ready(function(){
    console.log("document.ready");
$.get("scripts/getEmail.php", function(email){   
    console.log("got email");
    $.post("scripts/jsonTraining.php", {'email' : email}, function(resp){
	console.log("got json");

	var data = JSON.parse(resp);
	var xAxisIncrements = 10;
	var durations = [];
	var xIndex = [];
	var weeklyTraining = [];
	var heartrates = [];
	var criticalValue = 55; // any value over this is bad on the graph
	var criticalLine = [];
//	var playerP

	for(var i = 0; i < data.length; i++){
	    durations.push(data[i].duration*data[i].hardness*15);
	    heartrates.push(data[i].heartrate);
	    xIndex.push("Week:" + i.toString());
	    criticalLine.push(criticalValue);
	}

	var incrementSize = (data[data.length-1].time - data[0].time)/xAxisIncrements;
	console.log("Increment size: " + incrementSize);

/*	for(var j = 0; j < xAxisIncrements - 1; j++){
	    var currWeeklyTotal = 0;
	    var currTime = (+data[0].time + (+incrementSize*j));

	    // if it'sn greater than current += the incement size
	    // += diff*j

	    console.log("currTime: " + currTime + " - " +data[0].time + "  *  "  + incrementSize*j);
	    for(var k = 0; k < data.length; k++){
		
		if(data[k].time < currTime + incrementSize && data[k].time > currTime){
		    currWeeklyTotal += data[k].duration; 
		    console.log("yuh");
		}else{
		    console.log("nah");
		}

		weeklyTraining.push(currWeeklyTotal);
		}
	} */

	var numberOfWeeks = (data[data.length-1].time - data[0].time)/(24*60/*  *60*7 */); //get n of weeks 
	console.log(numberOfWeeks);

	var toGraph = {
	    labels : xIndex,
	    datasets:[

	        {
		    fillColor: "rgba(600, 0, 0, .2)",
		    strokeColor : "#FF00AA",
		    pointColor : "rgba(600,0,0,0.5)",
		    pointStrokeColor : false,
		    data : criticalLine
		},
		{
		    fillColor : "rgba(172,194,132, 0)",
		    strokeColor : "#00FF00",
		    pointColor : "#008000",
		    pointStrokeColor : "#9DB86D",
		    data : durations
		},
		{
		    fillColor: "rgba(0, 0, 100, 0)",
		    strokeColor : "#00CED1",
		    pointColor : "#008B8B",
		    pointStrokeColor : "#9BD86D",
		    data : heartrates
		}
		
	    ]
	}

	var graph = document.getElementById('graph').getContext('2d');
	new Chart(graph).Line(toGraph);

	/**
	   heartrate vs time
	   player perf vs time

	 */

	/** Takes in data.json and spits out y - axis variables. */
	function getWeeklyYArray(data){
	    var diff = (data[data.length] - data[0]);
	    var nIncrements = 10; // number of ticks of x axis.
	    var timeIncrements = (diff/nIncrements);
	    var weeklyTrainings = [];
	    var currTotal;
	    var currUpperLim; // upper limit of time to be looped
	    var curLrowerLim;
	    var toGraph = [];
	    
	    // loop through each increment
	    for(var i = 0; i < nIncrements; i++ ){
		// find and add trainings within dates.
		currTotal = 0;
		// calculate two times we need to check.
		currLowerLim = data[0] + timeIncrements*j;
		currUpperLim = currLowerLim + timeIncrements;
		
		for(var j = 0; j < data.length; j++){
		    		    
		    if(data[j].time > currLowerLim && data[j].time < currUpperLim){
			currTotal += data[j];
		    }
		}
		currTotal[i].x = i;
		currTotal[i].weekly = currTotal;
	    }

	}
			

    }); 
});
});

</script>

<p>Some <a href="#info">information</a> about burnout</p>
