
<div align="left">
<p> Click here for <a href="http://www.gaa.ie/content/files/Information%20Sheet%20-%20Player%20Burnout%281%29.pdf" target="blank">Gaa.ie</a> official documentation on burnout </p>
<br>
<h4>Graph Information:</h4>
<p><font color="green">Green</font> line shows player performance.</p>
<p><font color="blue">Blue</font> line shows resting heart rate.</p> 
<p><font color="red">Red</font> line is the critical line. Heart rate is normal below the line and player performance is normal above the line.</p>
<p>Players should note that the common resting hearth rate for an active athlete lies between <b>49</b> and <b>55</b> beats per minute. </p>
<p>The graph above displays player performance and heart rate for each active week. This is the players resting heart rate which is taken first thing every morning. Studies have shown that a consistent increase in resting heart rate over a period of 10 days is the primary symptom for player fatigue, which ultimately leads to burnout. Player performance is graphed as a function of exercise intensity and exercise durartion.</p>
</div>
